/* Import fonts */

@font-face {
  font-family: 'butler-bold';
  src: url('./fonts/butler-bold.woff2') format('woff2'),
       url('./fonts/butler-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'butler-medium';
  src: url('./fonts/butler-medium.woff2') format('woff2'),
       url('./fonts/butler-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'librefranklin-regular';
  src: url('./fonts/librefranklin-regular.woff2') format('woff2'),
       url('./fonts/librefranklin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General styles */
* {
  box-sizing: border-box;
}

/* site-wide font-size */
html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'librefranklin-regular', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
  word-spacing: 0.02rem;
}

h1 {
  font-family: 'butler-bold', serif;
  font-size: 3.0rem;
}

h2 {
  font-family: 'butler-medium', serif;
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
}

/* Layout */
section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */
header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

header {
  text-align: center;
}

section > h2 + p {
  text-indent: 2.0rem;
}

section p a {
  background: url('link.png') no-repeat 100% 0;
  background-size: 1.2rem 1.2rem;
  padding-right: 1.4rem;
}

a:link, a:visited {
  color: rgb(170, 102, 102);
}

a:focus {
  color: rgb(170, 102, 102);
  outline-style: none;
}

a:hover {
  color: rgb(170, 102, 102);
  text-decoration-line: none;
}

a:active {
  color: white;
  background-color: rgb(170, 102, 102);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

section p a:active {
  padding-right: 1.4rem;
}

section ul li {
  list-style: circle;
}

section ol li {
  list-style: upper-alpha;
}

aside ul li {
  list-style: square;
}

nav li {
  list-style: none;
  height: 5rem;
  border: 0.2rem solid rgb(170, 102, 102);
  margin: 1.5rem 0;
  text-align: center;
}

nav a {
  line-height: 5rem;
  text-decoration: none;
}
