/* Import fonts */

@font-face {
  font-family: 'butler-bold';
  src: url('./fonts/butler-bold.woff2') format('woff2'),
       url('./fonts/butler-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'butler-medium';
  src: url('./fonts/butler-medium.woff2') format('woff2'),
       url('./fonts/butler-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'librefranklin-regular';
  src: url('./fonts/librefranklin-regular.woff2') format('woff2'),
       url('./fonts/librefranklin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* General styles */
* {
  box-sizing: border-box;
}

/* site-wide font-size */
html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: 'librefranklin-regular', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

h1 {
  font-family: 'butler-bold', serif;
  font-size: 3.0rem;
}

h2 {
  font-family: 'butler-medium', serif;
  font-size: 1.8rem;
}

/* Layout */
section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */
header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}
